body {
  background-color: black;
  justify-content: center;
  font-family: 'Caveat', cursive;
}
.hogwartsCrest{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 15px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
  font-size: 30px;
}
#sortingHat {
  margin: auto;
  margin-bottom: 20px;
  color: white;
  background-color: black;
  width: 50%;
}
#hogwartsCard, #voldemortCard {
  display: flex;
  flex-wrap: wrap;
}
.Slytherin, #slytherinBtn {
  background-color: darkgreen;
  color: silver;
  border-radius: 0px;
  border-color: darkgreen;
  font-size: 30px;
}
#slytherinBtn:hover {
  background-color: #224624;
}
.Hufflepuff, #hufflepuffBtn {
  background-color: goldenrod;
  color: black;
  border-radius: 0px;
  border-color: goldenrod;
  font-size: 30px;
}
#hufflepuffBtn:hover {
  background-color: #f1c716;
}
.Ravenclaw, #ravenclawBtn {
  background-color: navy;
  color: goldenrod;
  border-radius: 0px;
  border-color: navy;
  font-size: 30px;
}
#ravenclawBtn:hover {
  background-color: #262a76;
}
.Gryffindor, #gryffindorBtn {
  background-color: maroon;
  color: goldenrod;
  border-radius: 0px;
  border-color: maroon;
  font-size: 30px;
}
#gryffindorBtn:hover {
  background-color: #5C0001;
}
#allStudentsBtn {
  border-radius: 0px;
  font-size: 30px;
}
#filterBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#form {
  color: white;
  font-size: 30px;
}
h1 {
  color: white;
}
#allStudentCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#sortMe, #sortStart, .card-text {
  font-size: 20px;
}
h2 {
  text-align: center;
}
